# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
venv/
.venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Project-specific
model/*.pth
data/
outputs/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
